POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=praxis_db

JWT_SECRET=LOCAL_DEVELOPMENT_SECRET_KEY_CHANGE_ME

RABBITMQ_DEFAULT_USER=praxis
RABBITMQ_DEFAULT_PASS=praxis

SEED_ADMIN_FULL_NAME=Praxis Administrator
SEED_ADMIN_EMAIL=admin@praxis.local
SEED_ADMIN_PASSWORD=Admin@12345
